canvas {
	justify-self: center;
	align-self: center;
}

body {
	margin: 0;

	width: 100%;
	height:100%;

	display: grid;
}

html {
	height: 100%;
}

input {
	width: 100px;
	margin-top: 20px;
}

img {
	display: none;
}
