.edit {
	background-color: #e9f3f4;
}

.keep {
	background-color: #2c8898;
	color: white;
}

td {
	text-align: center;
	user-select: none;
	border: 1px solid #4a4a4a;
}

.top {
	border-top: 3px solid #4a4a4a;
}

.left {
	border-left: 3px solid #4a4a4a;
}

.bottom {
	border-bottom: 3px solid #4a4a4a;
}

.right {
	border-right: 3px solid #4a4a4a;
}
